<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Index</title>
    </head>
    <body>
        <input type="text" id="text_input"/><br/>
        <button id="btn1">Send Message</button>
        <script src="js/sendRequest.js"></script>
    </body>
</html>