<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>More Request</title>
    </head>
    <body>
        <form method="post">
            <input name="age" type="number" value="13"/>
            <input type="submit"/>
        </form> <br/>
        <form>
            <input name="name" value="igor"/>
            <input name="ag" value="17"/>
            <input type="submit"/>
        </form>
        <p>@ViewData["One"]</p>
        <p>@ViewData["Two"]</p>
        <p>@ViewData["Three"]</p>
        <p>@ViewData["Four"]</p>
    </body>
</html>